/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --sidebar_width: 240px;
    --scroll_width: 17px;
    --text_color: #2b2b2b;
    --font_size: 14px;
    --font_size_title: 48px;
    --font_family: 'Rubik', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #d56bd0;
}

::-moz-selection
{
    color: #fff;
    background: #d56bd0;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #d56bd0;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}



.cont
{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.content
{
    position: relative;

    padding: 40px 40px 40px calc(var(--sidebar_width) + 32px);
}


.modal_btn > *
{
    pointer-events: none;
}



/*----------
    Tabs
----------*/
.tabs
{
    display: block;
    overflow: auto;

    width: calc(100% + 72px);
    margin: 0 -40px 32px -32px;
    padding: 0 40px 0 32px;

    white-space: nowrap;

    scroll-padding: 0 40px 0 32px;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent !important;
    scrollbar-width: thin !important;
}

.tabs::-webkit-scrollbar
{
    display: none !important;

    width: 0 !important;
    height: 0 !important;

    background-color: transparent !important;
}

.tabs::-webkit-scrollbar-thumb
{
    background-color: transparent !important;
}


.tabs .btn
{
    font-size: 16px;
    line-height: 24px;

    position: relative;

    padding: 8px 16px;

    transition: .2s linear;

    color: #7e7e7e;
    border-radius: 8px;
    background: #f8f8f8;
}


.tabs .btn + .btn
{
    margin-left: 4px;
}


.tabs .btn:hover,
.tabs .btn.active
{
    color: #fff;
    background: #d56bd0;
}


.tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    width: 780px;
    max-width: 100%;
    height: 0;

    pointer-events: none;

    opacity: 0;
}

.tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}



/*----------------
    Datepicker
----------------*/
.air-datepicker
{
    z-index: 10000;

    --adp-day-name-color: #d56bd0;
}



/*--------------
    Fancybox
--------------*/
.fancybox__backdrop
{
    background: rgba(0, 0, 0, .56);
}


.fancybox__slide
{
    padding: 40px;
}


.fancybox__content > .f-button.is-close-btn,
.is-compact .fancybox__content > .f-button.is-close-btn
{
    top: 40px;
    right: 32px;

    opacity: 1;

    --f-button-width: 32px;
    --f-button-height: 32px;
    --f-button-border-radius: 0;
    --f-button-color: #919191;
    --f-button-hover-color: #000;
    --f-button-svg-width: 32px;
    --f-button-svg-height: 32px;
    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;
}


.is-compact .fancybox__content > .f-button.is-close-btn
{
    top: 24px;
    right: 16px;
}


.fancybox__content > .f-button.is-close-btn svg
{
    stroke: none;
}



/*-------------
    Sidebar
-------------*/
aside
{
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;

    overflow: auto;

    width: var(--sidebar_width);
    max-width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    background: #fafafa;

    overscroll-behavior-y: contain;
}


aside .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    height: 56px;
    padding: 0 24px;

    text-decoration: none;

    color: currentColor;
}


aside .logo img
{
    display: block;

    max-width: 100%;
}



aside .lk_menu
{
    padding: 32px 24px;
}


aside .lk_menu > * + *
{
    margin-top: 24px;
    padding-top: 24px;

    border-top: 1px solid #e6e6f9;
}


aside .lk_menu a
{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    transition: .2s linear;
    text-decoration: none;

    color: #67697e;
}


aside .lk_menu .icon
{
    display: block;

    width: 24px;
    height: 24px;
}


aside .lk_menu span
{
    width: calc(100% - 32px);
}


aside .lk_menu a:hover,
aside .lk_menu a.active
{
    color: #3c82f6;
}



/*---------------
    Page head
---------------*/
.page_head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 32px;
}



.page_head .back a
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    text-decoration: none;

    color: #7e7e7e;
}


.page_head .back .icon
{
    display: block;

    width: 18px;
    height: 18px;
    margin-right: 8px;
}



.page_title
{
    font-size: 40px;
    line-height: 48px;

    display: block;
}



.page_head .btns
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: auto;
}


.page_head .btns > * + *
{
    margin-left: 16px;
}



.page_head .profile
{
    width: 24px;
    height: 24px;

    border-radius: 50%;
}


.page_head .profile img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    object-fit: cover;
}



.page_head .notification
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: #a4abb5;
}


.page_head .notification .icon
{
    display: block;

    width: 24px;
    height: 24px;
}



.page_head .logout
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: #a4abb5;
}


.page_head .logout .icon
{
    display: block;

    width: 24px;
    height: 24px;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #f7f7f8;
    --form_focus_color: #f7f7f8;
    --form_error_color: red;
    --form_border_radius: 8px;
    --form_bg_color: #fff;
    --form_placeholder_color: #a4abb5;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    opacity: 1;
    color: var(--form_placeholder_color);
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .line
{
    margin-bottom: 24px;
}


.form .label
{
    font-size: 12px;
    line-height: 16px;

    margin-bottom: 8px;

    color: #7e7e7e;
}


.form .field
{
    position: relative;
}


.form .field > .icon
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 16px;
    bottom: 0;

    display: block;

    width: 24px;
    height: 24px;
    margin: auto 0;

    pointer-events: none;

    color: #a4abb5;
}


.form .input
{
    font-family: var(--font_family);
    font-size: 16px;

    display: block;

    width: 100%;
    height: 48px;
    padding: 0 15px;

    transition: border-color .2s linear;

    color: var(--text_color);
    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .icon + .input,
.form .toggle_btn + .input
{
    padding-right: 54px;
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form .input:focus
{
    border-color: var(--form_focus_color);
}


.form .toggle_btn
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 16px;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin: auto 0;

    color: #a4abb5;
}


.form .toggle_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}


.form .toggle_btn .icon + .icon,
.form .toggle_btn.active .icon
{
    display: none;
}

.form .toggle_btn.active .icon + .icon
{
    display: block;
}


.form .error
{
    border-color: var(--form_error_color);
}


.form .agree
{
    margin-top: 8px;
}


.form .checkbox
{
    font-size: 14px;
    line-height: 18px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 18px;
    padding-left: 32px;

    cursor: pointer;

    color: #a4abb5;
}


.form .checkbox input
{
    display: none;
}


.form .checkbox .check
{
    position: absolute;
    top: 0;
    left: 6px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 18px;
    height: 18px;

    color: #a4abb5;
}


.form .checkbox .check .icon
{
    display: block;

    width: 18px;
    height: 18px;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
}


.form .checkbox a
{
    color: currentColor;
}


.form .checkbox input:checked ~ .check .icon
{
    opacity: 1;
}


.form .radio
{
    font-size: 16px;
    line-height: 24px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 24px;
    padding-left: 32px;

    cursor: pointer;
}


.form .radio input
{
    display: none;
}


.form .radio .check
{
    position: absolute;
    top: 2px;
    left: 2px;

    width: 20px;
    height: 20px;

    color: #a4abb5;
    border: 2px solid;
    border-radius: 50%;
}


.form .radio .check:before
{
    position: absolute;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    border-radius: 50%;
    background: currentColor;

    inset: 0;
}


.form .radio input:checked ~ .check
{
    color: #d56bd0;
}

.form .radio input:checked ~ .check:before
{
    opacity: 1;
}


.form .submit
{
    padding-top: 8px;
}


.form .submit_btn
{
    font-size: 18px;
    line-height: 22px;

    display: block;

    width: 100%;
    padding: 17px 24px;

    transition: .2s linear;

    color: #fff;
    border-radius: 8px;
    background: #d56bd0;
}


.form .submit_btn:disabled
{
    pointer-events: none;

    background: #a4abb5;
}


.form .forgot
{
    font-size: 18px;
    line-height: 22px;

    margin-top: 16px;

    text-align: center;

    color: #67697e;
}


.form .forgot a
{
    color: #d56bd0;
}


.form .forgot a:hover
{
    text-decoration: none;
}


.form .have_account
{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    margin-top: 16px;

    text-align: center;

    color: #67697e;
}


.form .have_account a
{
    color: #d56bd0;
}


.form .have_account a:hover
{
    text-decoration: none;
}



/*----------
    Auth
----------*/
.auth
{
    justify-content: space-between;

    padding: 64px 0;
}


.auth .data
{
    align-self: center;

    width: 50%;
    max-width: 100%;
    padding: 0 64px;
}


.auth .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(100% + 8px);

    margin-bottom: 56px;
}


.auth .image
{
    position: relative;

    overflow: hidden;

    width: 50%;
    max-width: 100%;
    height: 852px;

    border-radius: 16px;
    background: #d9d9d9;
}


.auth .image img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}



/*-----------------
    Select role
-----------------*/
.select_role
{
    padding: 64px 0;
}


.select_role .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(100% + 8px);

    margin-bottom: 56px;
}


.select_role .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -32px;
    margin-left: -32px;
}

.select_role .row > *
{
    width: calc(50% - 32px);
    margin-bottom: 32px;
    margin-left: 32px;
}


.select_role .item
{
    font-size: 32px;
    font-weight: 500;
    line-height: calc(100% + 8px);

    position: relative;

    display: flex;
    overflow: hidden;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    height: 525px;
    padding: 48px;

    text-align: left;

    color: #67697e;
    border-radius: 16px;
    background: #f7f7f8;
}


.select_role .item .thumb
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;

    transition: transform .2s linear;
    transform-origin: right bottom;
    pointer-events: none;
    pointer-events: none;
}


.select_role .item:hover .thumb
{
    transform: scale(1.05);
}



/*------------
    Search
------------*/
.search
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-bottom: 24px;
}


.search ::-webkit-input-placeholder
{
    color: #67697e;
}

.search :-moz-placeholder
{
    color: #67697e;
}

.search ::-moz-placeholder
{
    opacity: 1;
    color: #67697e;
}

.search :-ms-input-placeholder
{
    color: #67697e;
}


.search .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 16px;

    color: #a4abb5;
}


.search .input
{
    font-family: var(--font_family);
    font-size: 16px;
    font-weight: 300;

    display: block;

    width: 411px;
    max-width: 100%;

    color: var(--text_color);
    border: none;
    background: none;
}


.search .plus_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin-left: 16px;

    color: #a4abb5;
    border-radius: 4px;
    background: #ecf3fa;
}


.search .plus_btn svg
{
    display: block;

    width: 16px;
    height: 16px;
}



/*-----------
    Tests
-----------*/
.tests .titles
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-bottom: 16px;

    border-radius: 8px;
    background: #ecf3fa;
}


.tests .titles > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 15px 16px;
}


.tests .titles .icon
{
    display: block;

    width: 18px;
    height: 18px;
    margin-left: 4px;
}


.tests .test + .test
{
    margin-top: 8px;
}


.tests .test .head
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    cursor: pointer;
}


.tests .test .head > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 4px 16px;
}


.tests .test .col_status span
{
    position: relative;

    display: inline-block;

    min-width: 109px;
    padding: 11px 16px 11px 32px;

    vertical-align: top;

    border-radius: 8px;
}

.tests .test .col_status span:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto 0;

    content: '';

    border-radius: 50%;
}


.tests .test .col_status span.default
{
    padding-left: 16px;

    background: #f7f7f8;
}


.tests .test .col_status span.green
{
    color: #0a6249;
    background: #cff9e4;
}

.tests .test .col_status span.green:before
{
    background: #1acd8c;
}


.tests .test .col_status span.yellow
{
    color: #93410f;
    background: #fef3c9;
}

.tests .test .col_status span.yellow:before
{
    background: #fbb401;
}


.tests .test .data
{
    position: relative;

    display: none;

    width: calc(100% - 19px);
    margin: 8px 0 8px 19px;
    padding: 4px 0 4px 12px;

    border-left: 1px solid #d56bd0;
    border-radius: 0 8px 8px 0;
    background: #f8e7f7;
}


.tests .test .data:before,
.tests .test .data:after
{
    position: absolute;
    bottom: 100%;
    left: -3px;

    display: block;

    width: 5px;
    height: 5px;

    content: '';

    border-radius: 50%;
    background: #d56bd0;
}

.tests .test .data:after
{
    top: 100%;
    bottom: auto;
}


.tests .test .item
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.tests .test .item + .item
{
    margin-top: 8px;
}


.tests .test .item > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0 16px;
}


.tests .test .item .col_id
{
    width: 228px;
    min-width: 228px;
}


.tests .test .item .col_status span
{
    background: none !important;
}


.tests .col_id
{
    width: 256px;
    min-width: 256px;
}

.tests .col_status
{
    width: 265px;
    min-width: 265px;
}

.tests .col_type
{
    width: 100%;
}

.tests .col_date
{
    width: 148px;
    min-width: 148px;
}



/*--------------
    Patients
--------------*/
.patients .titles
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-bottom: 16px;

    border-radius: 8px;
    background: #ecf3fa;
}


.patients .titles > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 15px 16px;
}


.patients .titles .icon
{
    display: block;

    width: 18px;
    height: 18px;
    margin-left: 4px;
}


.patients .patient + .patient
{
    margin-top: 8px;
}


.patients .patient .head
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    cursor: pointer;
}


.patients .patient .head > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 4px 16px;
}


.patients .patient .col_patient
{
    line-height: 18px;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.patients .patient .col_patient .photo
{
    position: relative;

    overflow: hidden;

    width: 32px;
    height: 32px;

    border-radius: 8px;
    background: #ddd;
}


.patients .patient .col_patient .photo img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.patients .patient .col_patient .name
{
    align-self: center;

    width: calc(100% - 44px);
}


.patients .patient .col_status span
{
    position: relative;

    display: inline-block;

    min-width: 109px;
    padding: 11px 16px 11px 32px;

    vertical-align: top;

    border-radius: 8px;
}

.patients .patient .col_status span:before
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;

    display: block;

    width: 8px;
    height: 8px;
    margin: auto 0;

    content: '';

    border-radius: 50%;
}


.patients .patient .col_status span.default
{
    padding-left: 16px;

    background: #f7f7f8;
}


.patients .patient .col_status span.green
{
    color: #0a6249;
    background: #cff9e4;
}

.patients .patient .col_status span.green:before
{
    background: #1acd8c;
}


.patients .patient .col_status span.yellow
{
    color: #93410f;
    background: #fef3c9;
}

.patients .patient .col_status span.yellow:before
{
    background: #fbb401;
}


.patients .patient .data
{
    position: relative;

    display: none;

    width: calc(100% - 32px);
    margin: 8px 0 8px 32px;
    padding: 4px 0 4px 12px;

    border-left: 1px solid #d56bd0;
    border-radius: 0 8px 8px 0;
    background: #f8e7f7;
}


.patients .patient .data:before,
.patients .patient .data:after
{
    position: absolute;
    bottom: 100%;
    left: -3px;

    display: block;

    width: 5px;
    height: 5px;

    content: '';

    border-radius: 50%;
    background: #d56bd0;
}

.patients .patient .data:after
{
    top: 100%;
    bottom: auto;
}


.patients .patient .item
{
    line-height: 18px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.patients .patient .item + .item
{
    margin-top: 8px;
}


.patients .patient .item > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0 16px;
}


.patients .patient .item .col_status span
{
    background: none !important;
}

.patients .patient .item .col_status span.default
{
    color: #67697e;
}


.patients .col_patient
{
    width: 100%;
}

.patients .col_id
{
    width: 156px;
    min-width: 156px;
}

.patients .col_status
{
    width: 156px;
    min-width: 156px;
}

.patients .col_type
{
    width: 352px;
    min-width: 352px;
}

.patients .col_date
{
    width: 148px;
    min-width: 148px;
}



/*-------------
    LK info
-------------*/
.test_info
{
    padding-top: 24px;

    border-top: 1px solid #e6e6f9;
}


.lk_info .head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
}


.lk_info .head .title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}


.lk_info .head .save_btn
{
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    transition: .2s linear;

    color: #7e7e7e;
}


.lk_info .head .save_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 8px;
}


.lk_info .head .save_btn:hover
{
    color: #d56bd0;
}



.lk_info .data .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -32px;
    margin-left: -32px;
}

.lk_info .data .row > *
{
    width: calc(50% - 32px);
    margin-bottom: 32px;
    margin-left: 32px;
}


.lk_info .data .item
{
    position: relative;

    display: flex;
    flex-direction: column;

    height: 256px;
    padding: 24px 16px;

    border-radius: 8px;
    background: #f7f7f8;
}


.lk_info .data .item .name
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}


.lk_info .data .item .link
{
    display: flex;

    margin-top: auto;
    padding-top: 24px;
}


.lk_info .data .item .link a
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    transition: color .2s linear;
    text-decoration: none;

    color: #67697e;
}


.lk_info .data .item .link .icon
{
    display: block;

    width: 25px;
    height: 8px;
    margin-left: 8px;
}


.lk_info .data .item .link a:hover
{
    color: #d56bd0;
}



.lk_info .mob_save_btn
{
    font-size: 16px;
    line-height: 24px;

    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-top: 24px;
    padding: 16px;

    color: #fff;
    border-radius: 8px;
    background: #d56bd0;
}


.lk_info .mob_save_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 8px;
}



/*---------------
    User info
---------------*/
.user_info
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 40px;
    padding: 16px;

    border-radius: 24px;
    background: #ecf3fa;
}


.user_info .avatar
{
    position: relative;

    overflow: hidden;

    width: 72px;
    height: 72px;

    border-radius: 16px;
    background: #ddd;
}


.user_info .avatar img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.user_info .avatar + *
{
    line-height: 24px;

    align-self: center;

    width: calc(100% - 88px);
}


.user_info .row
{
    margin-bottom: -8px;
    margin-left: -24px;
}


.user_info .row > *
{
    margin-bottom: 8px;
    margin-left: 24px;
}


.user_info span
{
    margin-right: 4px;

    color: #a4abb5;
}



/*--------------------
    Test item info
--------------------*/
.test_item_info
{
    padding-top: 16px;
}


.test_item_info .grid .title
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    margin-bottom: 32px;
}


.test_item_info .grid .row > *:nth-child(2n)
{
    margin-top: 72px;
}


.test_item_info .grid .item
{
    font-size: 12px;
    line-height: 16px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 161px;
    min-height: 123px;
    padding: 23px 20px 20px;

    text-align: center;

    background: url(../images/bg_test_item_info_item.svg) 50%/100% 100% no-repeat;
}


.test_item_info .grid .item .val
{
    font-size: 32px;
    line-height: 40px;

    margin-bottom: 8px;
}


.test_item_info .grid .item .val.red
{
    color: #f00;
}

.test_item_info .grid .item .val.green
{
    color: #1acd8c;
}

.test_item_info .grid .item .val.yellow
{
    color: #fbb401;
}



.test_item_info .data
{
    margin-top: 40px;
}


.test_item_info .data .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -8px;
    margin-left: -8px;
}

.test_item_info .data .row > *
{
    width: 220px;
    max-width: calc(20% - 8px);
    margin-bottom: 8px;
    margin-left: 8px;
}


.test_item_info .data .col
{
    padding: 15px;

    border: 1px solid #edeef0;
    border-radius: 8px;
}


.test_item_info .data .title
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    margin-bottom: 16px;
}


.test_item_info .data .items
{
    font-size: 12px;
    line-height: 16px;
}


.test_item_info .data .items > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.test_item_info .data .items > * + *
{
    margin-top: 8px;
}


.test_item_info .data .items .label
{
    width: 142px;
    max-width: calc(100% - 32px);
}


.test_item_info .data .items img
{
    display: block;

    width: 16px;
    height: 16px;
}

.test_item_info .data .items img.turn_over
{
    transform: rotate(180deg);
}



.test_item_info .nutrients .title
{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

    margin-bottom: 24px;
}


.test_item_info .nutrients .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -32px;
    margin-left: -32px;
}

.test_item_info .nutrients .row > *
{
    width: calc(33.333% - 32px);
    margin-bottom: 32px;
    margin-left: 32px;
}


.test_item_info .nutrients .item
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 24px 16px;

    border-radius: 8px;
    background: #f7f7f8;
}


.test_item_info .nutrients .name
{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    width: 180px;
    max-width: calc(100% - 88px);
}

.test_item_info .nutrients .name.big_w
{
    width: 251px;
}


.test_item_info .nutrients .val
{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 72px;
    height: 71px;

    text-align: center;
}


.test_item_info .nutrients .val img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    pointer-events: none;

    object-fit: cover;
}


.test_item_info .nutrients .link
{
    font-size: 14px;
    line-height: 18px;

    width: 100%;
    margin-top: 13px;

    color: #67697e;
}


.test_item_info .nutrients .link a
{
    transition: color .2s linear;
    text-decoration: none;

    color: currentColor;
}


.test_item_info .nutrients .link a:hover
{
    color: #d56bd0;
}



.test_item_info .nutrients .head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-bottom: 24px;
}


.test_item_info .nutrients .head .title
{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    margin: 0;

    white-space: nowrap;
}


.test_item_info .nutrients .warning
{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    margin-left: 16px;
    padding-left: 16px;

    color: #a4abb5;
    border-left: 2px solid #a4abb5;
}


.test_item_info .nutrients .warning .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 8px;

    color: #eb5757;
}


.test_item_info .nutrients .warning span
{
    width: calc(100% - 32px);
}



.test_item_info .nutrients .titles
{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    margin-bottom: 16px;
    padding-right: 48px;
}


.test_item_info .nutrients .titles > * + *
{
    margin-left: 24px;
}


.test_item_info .nutrients .titles .col_units
{
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;

    text-align: center;

    color: #d56bd0;
}


.test_item_info .nutrients .col_title
{
    width: 100%;
}


.test_item_info .nutrients .col_units
{
    width: 125px;
    min-width: 125px;
}


.test_item_info .nutrients .list .head
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin: 0;
}


.test_item_info .nutrients .list > * + *
{
    margin-top: 16px;
    padding-top: 16px;

    border-top: 1px solid #e6e6f9;
}


.test_item_info .nutrients .list .progress
{
    position: relative;

    width: 112px;
    min-width: 112px;
    height: 8px;

    border-radius: 4px;
    background: linear-gradient(90deg, #ff6c60 0%, #ffd809 42.67%, #00b04c 100%);
}


.test_item_info .nutrients .list .progress .val
{
    position: absolute;
    top: -3px;
    left: 0;

    width: 14px;
    height: 14px;
    margin-left: -7px;

    border-radius: 50%;
    background: #67697e;
}


.test_item_info .nutrients .list .name
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    width: 100%;
    padding-left: 17px;

    color: #67697e;
}


.test_item_info .nutrients .list .col_units
{
    line-height: 100%;

    text-align: center;
}


.test_item_info .nutrients .list .spoler_btn
{
    display: block;

    margin-left: 24px;

    transition: color .2s linear;

    color: #a4abb5;
}


.test_item_info .nutrients .list .spoler_btn .icon
{
    display: block;

    width: 24px;
    height: 24px;
}


.test_item_info .nutrients .list .spoler_btn .icon + .icon,
.test_item_info .nutrients .list .spoler_btn.active .icon
{
    display: none;
}

.test_item_info .nutrients .list .spoler_btn:hover,
.test_item_info .nutrients .list .spoler_btn.active
{
    color: #3c82f6;
}

.test_item_info .nutrients .list .spoler_btn.active .icon + .icon
{
    display: block;
}


.test_item_info .nutrients .list .data
{
    display: none;

    margin-top: 16px;
    padding: 24px 16px;

    border-radius: 8px;
    background: #e6e6f9;
}


.test_item_info .nutrients .list .data .title
{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    margin-bottom: 24px;
}


.test_item_info .nutrients .list .data .items > *
{
    font-weight: 300;
    line-height: 18px;

    position: relative;

    padding-left: 26px;
}

.test_item_info .nutrients .list .data .items > * + *
{
    margin-top: 16px;
}


.test_item_info .nutrients .list .data .items > *:before
{
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;

    width: 12px;
    height: 12px;

    content: '';

    border-radius: 50%;
}

.test_item_info .nutrients .list .data .items > *.blue:before
{
    background: #3c82f6;
}

.test_item_info .nutrients .list .data .items > *.green:before
{
    background: #1acd8c;
}

.test_item_info .nutrients .list .data .items > *.purple:before
{
    background: #d56bd0;
}

.test_item_info .nutrients .list .data .items > *.red:before
{
    background: #f00;
}

.test_item_info .nutrients .list .data .exp
{
    margin-top: 24px;
    padding-top: 24px;

    border-top: 1px solid #a4abb5;
}


.test_item_info .nutrients .list .data .exp .row
{
    margin-bottom: -16px;
    margin-left: -16px;
}


.test_item_info .nutrients .list .data .exp .row > *
{
    font-weight: 300;
    line-height: 18px;

    position: relative;

    width: auto;
    max-width: none;
    margin-bottom: 16px;
    margin-left: 16px;
    padding-left: 26px;
}


.test_item_info .nutrients .list .data .exp .row > *:before
{
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;

    width: 12px;
    height: 12px;

    content: '';

    border-radius: 50%;
}

.test_item_info .nutrients .list .data .exp .row > *.blue:before
{
    background: #3c82f6;
}

.test_item_info .nutrients .list .data .exp .row > *.green:before
{
    background: #1acd8c;
}

.test_item_info .nutrients .list .data .exp .row > *.purple:before
{
    background: #d56bd0;
}

.test_item_info .nutrients .list .data .exp .row > *.red:before
{
    background: #f00;
}



/*------------
    Schema
------------*/
.schema
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 16px 30px 16px 16px;

    border-radius: 32px;
    background: #edeef0;
}


.schema .data_wrap
{
    position: relative;

    overflow: hidden;

    width: calc(100% - 63px);
    height: 663px;

    border-radius: 16px;
    background: #fff;
}


.schema .data
{
    position: absolute;
    top: 0;
    left: 0;

    width: 1560px;

    cursor: grab;
    transition: transform .2s linear;
}


.schema .data .head
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 100px 100px 68px;

    pointer-events: none;

    border-bottom: 1px solid #333;
}


.schema .data .head .title
{
    font-size: 56px;
    font-weight: 600;
    line-height: 110%;

    width: 639px;
    max-width: 100%;

    background: linear-gradient(to right,  #fe572b 0%,#fc6acf 50%,#0ba7e2 100%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
}


.schema .data .head .exp
{
    width: 485px;
    max-width: 100%;
    margin-left: auto;
}


.schema .data .head .exp > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.schema .data .head .exp > * + *
{
    margin-top: 9px;
    padding-top: 9px;

    border-top: 1px dashed rgba(51, 51, 51, .15);
}


.schema .data .head .exp .label
{
    font-size: 16px;
    font-weight: 300;
    line-height: 110%;

    color: #333;
}


.schema .data .head .exp .val
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.schema .data .head .exp .val img
{
    display: block;
}


.schema .data .items
{
    position: relative;

    height: 1790px;

    pointer-events: none;
}


.schema .data .items > *
{
    font-size: 24px;
    font-weight: 300;
    line-height: 110%;

    position: absolute;
    z-index: 3;

    display: block;

    text-align: center;
    white-space: nowrap;

    color: #333;
}


.schema .data .items .green
{
    color: #79bd38;
}

.schema .data .items .red
{
    color: #e42b34;
}

.schema .data .items .blue
{
    color: #2ab2e0;
}

.schema .data .items .yellow
{
    color: #e8a92c;
}


.schema .data .items .text1
{
    top: 100px;
    left: 100px;
}


.schema .data .items .text2
{
    font-size: 20px;
    line-height: 110%;

    top: 213px;
    left: 148px;

    transform: rotate(180deg);

    color: #cacbcc;

            writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}


.schema .data .items .text3
{
    top: 144px;
    left: 456px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text3 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text4
{
    font-size: 20px;
    line-height: 110%;

    top: 175px;
    left: 544px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e42b34;
}


.schema .data .items .text5
{
    top: 222px;
    left: 456px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text5 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text6
{
    font-size: 20px;
    line-height: 110%;

    top: 253px;
    left: 539px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e42b34;
}


.schema .data .items .text7
{
    top: 451px;
    left: 202px;
}


.schema .data .items .text8
{
    top: 100px;
    left: 810px;
}


.schema .data .items .text9
{
    top: 100px;
    left: 1393px;
}


.schema .data .items .text10
{
    font-size: 20px;
    line-height: 110%;

    top: 208px;
    left: 877px;

    transform: rotate(180deg);

    color: #cacbcc;

            writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}


.schema .data .items .text11
{
    top: 317px;
    left: 711px;
}


.schema .data .items .text12
{
    top: 317px;
    left: 1085px;
}

.schema .data .items .text13
{
    font-size: 20px;
    line-height: 110%;

    top: 349px;
    left: 820px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #79bd38;
}

.schema .data .items .text14
{
    font-size: 20px;
    line-height: 110%;

    top: 349px;
    left: 1149px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #79bd38;
}

.schema .data .items .text15
{
    font-size: 20px;
    line-height: 110%;

    top: 433px;
    left: 877px;

    transform: rotate(180deg);

    color: #cacbcc;

            writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}


.schema .data .items .text16
{
    top: 596px;
    left: 797px;
}


.schema .data .items .text17
{
    top: 596px;
    left: 1290px;
}


.schema .data .items .text18
{
    top: 771px;
    left: 198px;
}


.schema .data .items .text19
{
    top: 888px;
    left: 100px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text19 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text20
{
    font-size: 20px;
    line-height: 110%;

    top: 919px;
    left: 216px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e42b34;
}


.schema .data .items .text21
{
    top: 817px;
    left: 671px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text21 img
{
    display: block;

    margin-left: 15px;
}

.schema .data .items .text22
{
    top: 817px;
    left: 1074px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text22 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text23
{
    font-size: 20px;
    line-height: 110%;

    top: 848px;
    left: 786px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #2ab2e0;
}


.schema .data .items .text24
{
    font-size: 20px;
    line-height: 110%;

    top: 848px;
    left: 1154px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e42b34;
}


.schema .data .items .text25
{
    font-size: 20px;
    font-weight: 300;
    line-height: 110%;

    top: 905px;
    left: 726px;

    transform: rotate(-58.419deg);

    color: #cacbcc;
}


.schema .data .items .text26
{
    font-size: 20px;
    font-weight: 300;
    line-height: 110%;

    top: 910px;
    left: 1254px;

    transform: rotate(60deg);

    color: #cacbcc;
}


.schema .data .items .text27
{
    top: 970px;
    left: 608px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text27 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text28
{
    top: 970px;
    left: 1162px;
}


.schema .data .items .text29
{
    font-size: 20px;
    line-height: 110%;

    top: 1001px;
    left: 684px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e42b34;
}


.schema .data .items .text30
{
    font-size: 20px;
    line-height: 110%;

    top: 1001px;
    left: 1261px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #79bd38;
}


.schema .data .items .text31
{
    font-size: 20px;
    line-height: 110%;

    top: 1050px;
    left: 1320px;

    color: #cacbcc;

            writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}


.schema .data .items .text32
{
    top: 1132px;
    left: 598px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text32 img
{
    display: block;

    margin-left: 15px;
}


.schema .data .items .text33
{
    top: 1132px;
    left: 1222px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.schema .data .items .text33 img
{
    display: block;

    margin-left: 15px;

    transform: rotate(180deg);
}

.schema .data .items .text34
{
    font-size: 20px;
    line-height: 110%;

    top: 1163px;
    left: 684px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e8a92c;
}


.schema .data .items .text35
{
    font-size: 20px;
    line-height: 110%;

    top: 1163px;
    left: 1257px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #e8a92c;
}


.schema .data .items .text36
{
    font-size: 20px;
    line-height: 110%;

    top: 1244px;
    left: 717px;

    transform: rotate(55.546deg);

    color: #cacbcc;
}


.schema .data .items .text37
{
    font-size: 20px;
    line-height: 110%;

    top: 1230px;
    left: 1266px;

    transform: rotate(-56.784deg);

    color: #cacbcc;
}


.schema .data .items .text38
{
    top: 1284px;
    left: 727px;
}


.schema .data .items .text39
{
    top: 1284px;
    left: 1049px;
}


.schema .data .items .text40
{
    font-size: 20px;
    line-height: 110%;

    top: 1315px;
    left: 786px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #79bd38;
}


.schema .data .items .text41
{
    font-size: 20px;
    line-height: 110%;

    top: 1315px;
    left: 1156px;

    padding: 5px 10px;

    color: #fff;
    border-radius: 90px;
    background: #79bd38;
}


.schema .data .items .text42
{
    font-size: 20px;
    line-height: 110%;

    top: 1390px;
    left: 982px;

    color: #cacbcc;
}


.schema .data .items .text43
{
    top: 1043px;
    left: 925px;
}


.schema .data .items .text44
{
    font-size: 18px;
    line-height: 110%;

    top: 875px;
    left: 1324px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 97px;
    height: 67px;
    padding-left: 30px;

    background: url(../images/schema_symbol9.svg) 0 0/100% 100% no-repeat;
}


.schema .data .items .text45
{
    font-size: 18px;
    line-height: 110%;

    top: 1046px;
    left: 1363px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 97px;
    height: 67px;
    padding-left: 30px;

    background: url(../images/schema_symbol9.svg) 0 0/100% 100% no-repeat;
}


.schema .data .items .text46
{
    font-size: 18px;
    line-height: 110%;

    top: 1210px;
    left: 1345px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 97px;
    height: 67px;
    padding-left: 30px;

    background: url(../images/schema_symbol9.svg) 0 0/100% 100% no-repeat;
}


.schema .data .items .text47
{
    font-size: 18px;
    line-height: 110%;

    top: 1390px;
    left: 1063px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 77px;
    height: 78px;
    padding-top: 11px;
    padding-left: 10px;

    background: url(../images/schema_symbol10.svg) 0 0/100% 100% no-repeat;
}


.schema .data .items .text48
{
    top: 1486px;
    left: 164px;
}


.schema .data .items .text49
{
    top: 1486px;
    left: 293px;
}


.schema .data .items .text50
{
    top: 1486px;
    left: 581px;
}


.schema .data .items .text51
{
    top: 1486px;
    left: 1347px;
}


.schema .data .items .text52
{
    top: 1522px;
    left: 165px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}

.schema .data .items .text53
{
    top: 1522px;
    left: 291px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}

.schema .data .items .text54
{
    font-size: 18px;
    line-height: 110%;

    top: 1522px;
    left: 363px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}

.schema .data .items .text55
{
    top: 1522px;
    left: 883px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}

.schema .data .items .text56
{
    top: 1522px;
    left: 980px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}

.schema .data .items .text57
{
    font-size: 18px;
    line-height: 110%;

    top: 1522px;
    left: 1077px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 67px;
    height: 67px;

    color: #fff;
    border-radius: 50%;
    background: #2ab2e0;
}


.schema .data .items .text58
{
    top: 1662px;
    left: 192px;
}


.schema .data .items .text59
{
    top: 1662px;
    left: 677px;
}


.schema .data .items .text60
{
    top: 1662px;
    left: 1356px;
}


.schema .data .items .img1
{
    z-index: 1;
    top: 144px;
    left: 92px;
}


.schema .data .items .img2
{
    z-index: 1;
    top: 144px;
    left: 821px;
}


.schema .data .items .img3
{
    z-index: 1;
    top: 640px;
    left: 194px;
}


.schema .data .items .img4
{
    z-index: 1;
    top: 1532px;
    left: 98px;
}


.schema .data .items .img5
{
    z-index: 1;
    top: 1574px;
    left: 112px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img6
{
    z-index: 1;
    top: 1589px;
    left: 238px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img7
{
    z-index: 1;
    top: 1604px;
    left: 364px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img8
{
    z-index: 1;
    top: 1562px;
    left: 451px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img9
{
    z-index: 1;
    top: 1566px;
    left: 771px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img10
{
    z-index: 1;
    top: 1551px;
    left: 829px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img11
{
    z-index: 1;
    top: 1602px;
    left: 938px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img12
{
    z-index: 1;
    top: 1594px;
    left: 1043px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img13
{
    z-index: 1;
    top: 1555px;
    left: 1169px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img14
{
    z-index: 1;
    top: 1562px;
    left: 1329px;

    width: 40px;
    height: 40px;
}


.schema .data .items .img15
{
    z-index: 1;
    top: 1595px;
    left: 1403px;

    width: 40px;
    height: 40px;
}


.schema .btns
{
    margin-top: 43px;
    margin-left: auto;
}


.schema .btns > * + *
{
    margin-top: 4px;
}


.schema .btns .btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 32px;
    height: 32px;

    color: #67697e;
}


.schema .btns .btn .icon
{
    display: block;

    width: 28px;
    height: 28px;
}


.schema .btns .close_btn
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 32px;
    height: 32px;

    color: #fff;
}


.schema .btns .close_btn .icon
{
    display: block;

    width: 32px;
    height: 32px;
}


.schema .btns .fullscreen_btn
{
    margin-top: 4px;
}

.schema .btns .fullscreen_btn .icon
{
    width: 32px;
    height: 32px;
}



.schema.fullscreen
{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    padding: 0;
    padding-top: 56px;

    border-radius: 0;
    background: #2b2b2b;
}


.schema.fullscreen .data_wrap
{
    width: 100%;
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    border-radius: 0;
}


.schema.fullscreen .btns
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 100%;
    height: 56px;
    margin: 0;
    padding: 12px 32px;
}


.schema.fullscreen .btns > * + *
{
    margin-top: 0;
    margin-left: 5px;
}


.schema.fullscreen .btns .btn
{
    color: #fff;
}


.schema.fullscreen .btns .close_btn
{
    display: flex;

    margin-left: auto;
}


.schema.fullscreen .btns .fullscreen_btn
{
    display: none;

    margin-top: 0;
    margin-left: 20px;
}



/*----------------
    LK profile
----------------*/
.lk_profile
{
    padding-top: 40px;

    border-top: 1px solid #e6e6f9;
}


.lk_profile .head
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 24px;

    border-radius: 16px;
    background: #f7f7f8;
}


.lk_profile .head .avatar
{
    position: relative;

    overflow: hidden;

    width: 100px;
    height: 100px;

    border-radius: 16px;
    background: #ddd;
}


.lk_profile .head .avatar img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.lk_profile .head .avatar + *
{
    align-self: center;

    width: calc(100% - 116px);
}


.lk_profile .head .name
{
    font-size: 32px;
    font-weight: 700;
    line-height: calc(100% + 8px);
}


.lk_profile .head .change_avatar_btn
{
    line-height: 24px;

    display: inline-block;

    margin-top: 8px;

    cursor: pointer;
    transition: color .2s linear;
    vertical-align: top;

    color: #a4abb5;
}


.lk_profile .head .change_avatar_btn input
{
    display: none;
}


.lk_profile .head .change_avatar_btn:hover
{
    color: #000;
}


.lk_profile .section
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 24px;

    border-radius: 16px;
    background: #f7f7f8;
}


.lk_profile .section + .section
{
    margin-top: 20px;
}


.lk_profile .block_title
{
    font-size: 24px;
    font-weight: 600;
    line-height: calc(100% + 8px);

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    white-space: nowrap;
}


.lk_profile .block_title .icon
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 40px;
    height: 40px;
    margin-right: 16px;

    border-radius: 50%;
    background: #edeef0;
}


.lk_profile .block_title .icon  svg
{
    display: block;

    width: 24px;
    height: 24px;
}


.lk_profile .block_title span
{
    align-self: center;

    max-width: calc(100% - 56px);
}


.lk_profile .form
{
    width: 559px;
    max-width: 100%;
    margin-left: auto;

    --form_border_color: #a4abb5;
    --form_focus_color: #a4abb5;
    --form_border_radius: 0;
    --form_bg_color: none;
}


.lk_profile .form .input
{
    height: 40px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;

    border-top: none;
    border-right: none;
    border-left: none;
}


.lk_profile .form .gender
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-left: -24px;
}


.lk_profile .form .gender .field
{
    margin-left: 24px;
}


.lk_profile .form .toggle_btn
{
    top: 0;
    right: 0;
    bottom: 0;

    margin: 0;
}


.lk_profile .form .submit
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-top: 16px;
}


.lk_profile .form .submit_btn
{
    width: auto;
}


.lk_profile .form .edit_btn
{
    font-size: 18px;
    line-height: 22px;

    display: block;

    margin-left: 12px;
    padding: 16px 23px;

    color: #d56bd0;
    border: 1px solid #d56bd0;
    border-radius: 8px;
    background: #fff;
}



/*-----------
    PopUp
-----------*/
.modal
{
    display: none;
    visibility: visible !important;

    width: 664px;
    max-width: 100%;
    padding: 40px 32px;

    color: var(--text_color);
    border-radius: 16px;
    background: #fff;
}


.modal_title
{
    font-size: 32px;
    font-weight: 600;
    line-height: calc(100% + 8px);

    padding-right: 48px;
}


.modal_desc
{
    font-size: 18px;
    line-height: 22px;

    width: 568px;
    max-width: 100%;
    margin-top: 16px;

    color: #67697e;
}


.modal .form
{
    margin-top: 40px;
}



/*--------------------------------
    PopUp - Role confirm modal
--------------------------------*/
#role_confirm_modal .btn
{
    font-size: 18px;
    line-height: 22px;

    display: block;

    width: 100%;
    margin-top: 40px;
    padding: 17px 24px;

    color: #fff;
    border-radius: 8px;
    background: #d56bd0;
}
